$custom-card-bg-color: #cdcfd2;
.card {
  background-color: $custom-card-bg-color;

  &-text {
    font-size: $font-size-base * .88;
    color: $gray-600;
  }

  .voteCounter {
    color: $gray-600;
    font-size: $font-size-base * 1.5;
    line-height: 1.2;
  }

  .newComment {
    textarea, button {
      height: 75px;
    }

    .newComment-textarea {
      max-width: 90%;
      width: 90%;
    }

    .newComment-btnPost-container {
      max-width: 10%;
      width: 10%;
    }

    @include media-breakpoint-down(xs) { 
      .newComment-textarea {
        max-width: 75%;
        width: 75%;
      }
  
      .newComment-btnPost-container {
        max-width: 10%;
        width: 10%;
      }
    }    
  }
}

.animate {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}