.user {
  &-icon {
    border-radius: 50%;
    color: $white;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    height: 32px;
    line-height: 32px;
    position: relative;
    width: 32px;
  }
}